PORT=3001
AUTH_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3003
DIAGNOSIS_SERVICE_URL=http://localhost:3004
CONTENT_SERVICE_URL=http://localhost:3005
HOSPITAL_SERVICE_URL=http://localhost:3006
FEEDBACK_SERVICE_URL=http://localhost:3007
ADMIN_SERVICE_URL=http://localhost:3008
MONITORING_SERVICE_URL=http://localhost:3009
AI_SERVICE_URL=http://localhost:8001
