PORT=3006
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1234
DB_PORT=3306
JWT_SECRET=your_jwt_secret_key_here
NAVER_MAP_CLIENT_ID=5jy4t99z6g
NAVER_MAP_CLIENT_SECRET=fcFDhXpLCh9tDPcepxuM3y1zU6hqMjId1sgSdYL1
