PORT=3008
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1234
ADMIN_DB_NAME=skinai_admin
DB_PORT=3306
JWT_SECRET=your_jwt_secret_key_here
USER_SERVICE_URL=http://localhost:3003
DIAGNOSIS_SERVICE_URL=http://localhost:3004
CONTENT_SERVICE_URL=http://localhost:3005
FEEDBACK_SERVICE_URL=http://localhost:3007
